.gallery {
	min-height: 800px;
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    position: relative;
	padding: 10px;
}
.setGallery {
	display: block !important;
	z-index: 9;
	background: white !important;
	height: 100% !important;
	width: 90vw !important;
}
.workPageGrid h2,
.galleryPrev h2 {
	position: absolute;
	top: 80%;
	margin-left: 7%;
	padding: 0rem 2rem 0rem 2rem;
	color: #4ad9cf;
	background: linear-gradient(37deg, #151515, #292929);
	color: white !important;
	border-radius: 5rem;
	font-weight: 400;
	z-index: 9;
	width: auto;
	height: auto !important;
	display: inline-flex;
	flex: auto;
}
/* if page is dev, pixel art or fine arts */
.galleryPrev,
.galleryPrev img {
		position: relative;
	height: 35vh;
	width: 100vw;
	object-fit: cover;
	display: inline-flex;
	z-index: 1;
}
.galleryPrevModal {
		background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: contain !important;
        width: fit-content !important;
        height: 350px !important;
        justify-content: flex-start;
        justify-items: left;
        justify-self: start;
        align-items: self-start;
        align-content: flex-start;
        align-self: flex-start;
        position: relative;
        display: inline-flex
;
        flex: 40%;
        flex-wrap: nowrap;
        flex-direction: row;
}
.GalleryList_galleryPrevModal__B5EQq img {
	object-position: left;
	justify-content: left;
	justify-items: left;
	    display: inline-flex
;
    flex: 50%;
    width: 100%;
    object-fit: contain !important;

}
.galleryPrevModal {
	width: 85vw !important;
	height: 45vh;
	object-fit: cover !important;
	padding: 1%;
	flex: 100%;
}
.overlay {
	/* display: inline-block;
	position: absolute;
	backdrop-filter: blur(3px);
	background-color: #0d1128e0;
	width: 100%;
	height: 104vh;
	z-index: 15; */
			display: flex;
				backdrop-filter: blur(3px);
	background-color: #0d1128e0;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		text-align: left;
		margin: 0;
		height: 100%;
		position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        width: 100%;
		cursor: pointer;
		z-index: 15;
}
.overlayNone {
	flex: 33.33%;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
	backdrop-filter: none;
	background-color: white;
    border: 10px solid white;
	width: 100%;
}
.galleryPrevExpanded {
	width: 100vw;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.modalBackgroundNone {
    display: inline-flex;
	cursor: pointer;
	overflow: hidden;
	width: 100%;
}
.modalBackground {
	background: white;
    min-height: auto;
    height: fit-content;
	width: fit-content;
	display: flex;
	position: absolute;
	z-index: 9;
object-position: center;
    justify-content: center;
    justify-self: center;
    align-content: center;
    align-self: center;
    align-items: center;
    position: relative;
	    flex-wrap: wrap;
    flex-direction: row;
	border-radius: 10px;
}
.activeGallery {
	z-index: 10 !important;
	background: white;
	height: fit-content;
	width: 100vw;
	position: relative;
}
.toggleOn {
	display: block !important;
}
.modalp {
	color: #474747;
	position: absolute;
	height: fit-content;
	width: auto !important;
	object-fit: cover;
	display: inline-flex;
	padding: 0rem 2rem 0rem 0rem !important;
	margin: 0 !important;
	    line-height: 1;
}
.modalh2, .modalh3, .modalBullet, .modalBullet li {
	position: relative;
	height: fit-content;
	width: fit-content;
	object-fit: cover;
	display: inline-flex;
	font-size: 1.7rem;
	color: #151515;
    flex-wrap: wrap;
    flex: 100%;
    flex-direction: row;
    width: 100%;
}
hr.gradient, hr, .gradient {
  margin-top: 4%;
  border: none;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    #4ad9cf 0%,
	#000345 100%
  );
    width: 180px;
	height: 2px;
}
.modalh2 {
		color: #000345 !important;
}
.modalh3 {
	font-size: 1.25rem;
	padding-top: 2%;
	padding-bottom: 1%;
	color: #000345 !important;
	font-family: "DM Serif Display", serif !important;
}
.modalBullet {
		padding-left: 5%;
}
.modalBullet li {
			color: #474747 !important;
}
.modalBullet, .modalBullet li {
    font-size: 1rem !important;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
    line-height: 1.5;
}
.modalBullet li {
		display: list-item;
		font-size: 1.05rem;
}
.modalText {
        width: 100%;
        padding: 4rem 2rem 5rem 2rem;
        flex: 60%;
		display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex: 100%;
        position: relative;
}
.none {
	display: none !important;
}
@media only screen and (min-width: 600px) {
.modalBackground {
	    flex-direction: row;
		width: 60%;
}
	.galleryPrev,
	.galleryPrev img,
	.galleryPrevModal {
		height: 52vh;
        width: 100%;
	}

	.galleryPrevModal {
        object-fit: contain !important;
        width: 100% !important;
        height: 500px !important;
        flex: 100%;
    }

	/* .modalp {
		position: absolute !important;
		display: block !important;
		padding: 11rem 0rem 0rem 34rem !important;
		height: auto !important;
		padding: 0rem 0rem 0rem 16rem !important;

		flex: 100% !important;
	} */
	.modalText {
        width: 100%;
        padding: 1rem 5rem 3rem 5rem;
        flex: 100%;
    }
	.modalh2 {
		font-size: 2rem;
		width: fit-content;
		display: inline-flex;
		padding: 0rem 0rem 0rem 0rem;
	}
	.modalp {
		width: auto !important;
	}
}
@media only screen and (min-width: 800px) {
}
