@media only screen and (min-width: 1px) {
.DesktopNavigation, .MobileNavigation {
		background-image: linear-gradient(
			180deg,
			rgb(0 34 53 / 82%),
			rgb(255 255 255 / 0%)
		);
}	
	
	nav {
		display: flex;
		flex: 100%;
		width: 100vw !important;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 1rem;
		height: 8rem;
		position: relative;
		z-index: 3;
		object-fit: contain;
	}
	nav.NavLinks {
		justify-content: flex-end !important;
        height: fit-content;
        flex: 100%;
        position: relative;
        display: inline-flex;
	}
	
	.NavLinks {
		width: fit-content !important;
		justify-content: flex-end !important;
        height: 70vh;
        flex: 100% 1;
        position: relative;
        display: inline-flex;
        position: absolute;
	}
	.NavLinkLogo {
		z-index: 99;
		justify-content: flex-start !important;
	}
	.HamburgerMenu,
	.CloseMenu {
        position: absolute;
        right: 10%;
        cursor: pointer;
        top: 10%;
        height: 100%;
    }
	.closeMenu {
		position: absolute !important;
		right: 10%;
		cursor: pointer;
		z-index: 1000;
	}
	svg.HamburgerMenu {
		cursor: pointer;
	}
	.PageNav {
		background-color: transparent;
	}
	.MobileBack {
        /* background-color: black; */
        display: inline-flex;
        width: 100% !important;
        flex: 100% 1;
        position: absolute;
        top: 10%;
        padding: 10%;
    }
	.MobileBack > li {
		display: inline-flex;
		flex: 100%;
		position: relative;
		width: 100%;
	}
	nav img {
		object-fit: contain;
		height: 110px !important;
		width: 110px !important;
	}
	nav ul {
		list-style: none;
		display: inline-flex;
		align-items: center;
		gap: 4rem;
		color: white;
		flex-direction: column;
	}
.MobileNavigation {
	display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}
.DesktopNavigation {
	display: none;
}
	/* .nav a:visited {
		color: #4ad9cf;
	} */
	/* .nav a:link, */
	/* .nav a:visited, */
	.PageNav_nav > ul li a:link {
		text-decoration: none;
		/* text-transform: uppercase; */
		font-weight: 600;
		height: 5rem;
		border-bottom: 3px solid transparent;
		transition-property: border-bottom, left;

		transition-duration: 0.5s, 1s;

	}
	nav a:link {
		font-size: 1.5rem;
		letter-spacing: 0.1rem;

	}
	nav li:hover {
		color: white;
		border-bottom: 3px solid #4ad9cf;
	}
	/* CSS Modules feature */
	nav a:global(.active) {
		color: #4ad9cf;
	}

	a.ctaLink:link,
	a.ctaLink:visited {
		background-color: var(--color-brand--2);
		color: var(--color-dark--0);
		padding: 0.8rem 2rem;
		border-radius: 7px;
	}
}
@media only screen and (min-width: 600px) {
	.MobileNavigation {
		display: none;
	}
	.DesktopNavigation {
		display: flex;
	}
	nav {
		padding: 1rem 5rem;
	}
	nav ul {
		flex-direction: row;
	}
}
@media only screen and (min-width: 800px) {
	.nav {
		padding: 1rem 10rem;
	}
}
